extend layout

block content
  p
    | Hey. We are Intervallum, and we create software.
    | We think it is important to create an identity
    | for your brand using software.
    
  p
    | Intervallum was created in the hopes that it could
    | bring together students with little to no work experience
    | to collaborate on creating beautiful and meaningful
    | software for small local businesses to build a digital presence.
    | We specialize in creating static websites, and will look into expanding our services in the  future.
    | Lets talk over coffee if you would like a beautiful and affordable website done for your business!

block sidebar
  .widget
    h1 About Us
    p
      | We create software
      | that will put you on the map.
    
    p
      | Contact us to see what we can do for you!
      | hi@intervallum.io