doctype html
html
  head
    title Intervallum
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Intervallum
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node.js with Express, Jade and Stylus. Created by Alex F-V. Deployed on Heroku.