doctype html
html
  head
    title Intervallum
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Intervallum
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p © 2017 Intervallum. Site running on Node.js with Express, Jade & Stylus. Created by Alex F-V.